.notie {
    pointer-events: none;
}

.notie-container {
    position: fixed;
    width: 100%;
    text-align: center;
    fontsize: 14px;
    color: #fff;
    background-color: #20a0ff;
    transition: transform 0.3s ease-in-out;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    left: 0;
    pointer-events: none;
}

.notie--top {
    top: 0;
    transform: translate(0, -106%);
}

.notie--bottom {
    bottom: 0;
    transform: translate(0, 106%);
}

.notie--active {
    pointer-events: all;
    transform: translate(0, 0);
}

.notie--info {
    background-color: #20a0ff;
}

.notie--error {
    background-color: #ff4949;
}

.notie--warn {
    background-color: #f5be4b;
}

.notie--success {
    background-color: #13ce66;
}

.notie--confirm {
    background-color: #20a0ff;
}

.notie--force {
    background-color: #20a0ff;
}

.notie-overlay {
    position: fixed;
    min-height: 100vh;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.65);
}

.notie-message {
    padding: 20px 0;
}

.notie-choices {
    display: flex;
    width: 100%;
}

.notie-btn {
    padding: 20px;
    flex-grow: 1;
    border: none;
    text-align: center;
    cursor: pointer;
}

.notie-btn.notie-btn--ok {
    background-color: #13ce66;
}

.notie-btn.notie-btn--cancel {
    background-color: #ff4949;
}

.notie--force .notie-btn.notie-btn--ok {
    background-color: #ff4949;
}
