.react-notie {
    pointer-events: none;
}

.react-notie.react-notie--active {
    pointer-events: auto;
}

.react-notie-container {
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #fff;
    transition: transform 0.3s ease-in-out;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.react-notie--top > .react-notie-container {
    top: 0;
    left: 0;
    transform: translate(0, -106%);
}

.react-notie--bottom > .react-notie-container {
    bottom: 0;
    left: 0;
    transform: translate(0, 106%);
}

.react-notie--active > .react-notie-container {
    transform: translate(0, 0);
}

.react-notie-message {
    padding: 20px;
    background: #333;
}

.react-notie.react-notie-level--success .react-notie-message {
    background-color:  #13ce66;
}

.react-notie.react-notie-level--error .react-notie-message {
    background-color:  #ff4949;
}

.react-notie.react-notie-level--warn .react-notie-message {
    background-color: #f5be4b;
}

.react-notie.react-notie-level--info .react-notie-message {
    background-color: #20a0ff;
}

.react-notie.react-notie-level--confirm .react-notie-message {
    background-color: #20a0ff;
}

.react-notie-choices {
    display: flex;
    width: 100%;
}

.react-notie-choice {
    padding: 20px;
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
}

.react-notie-choice.react-notie-choice--yes {
    background-color:  #13ce66;
}

.react-notie-choice.react-notie-choice--no {
    background-color:  #ff4949;
}

.react-notie-dismiss {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.react-notie-dismiss::before {
    content: '✕';
}

.react-notie-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.6);
}
